/* size of the boxes; defines the borders */
* {
  	box-sizing: border-box;
}

#Top
{
	background-color: Black;
}	

/* makes the colour of the links different */
a:link {
	color: #cccccc;
}
a:visited {
	color: #cccccc;
}
a:hover {
	color: #ff3300;
}


/* makes the images float to the left */
img
{
	float: left;
	margin-right: 20px;
}

/* pretty much defines the overall look of the website; where the text is, the background etc. */
body 
{
	background-image: url("images/FOOD.png"); width:100%; height:100%;
  	background-attachment: fixed;
  	background-position: center;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
/* makes the text sans serif */
h1,h2,h3,h4,h5,h6,p
{
	font-family:sans-serif;
}
/* makes the headings centered */
h1,h2,h3,h4,h5,h6
{
	text-align: center;
}




/* what headers look like */
header 
{
  	background-color: rgba(0, 0, 0, 0.92);
  	padding: 30px;
  	width: 100%;
  	text-align: center;
  	font-size: 25pt;
}

/* what articles look like */
article 
{
	font-size: 15pt;
  	float: left;
  	padding: 20px;
  	width: 100%;
  	background-color: rgba(0, 0, 0, 0.82);
  	color: white;
	  
}



/* Basically to clear the floats and to display the layout without interference from other layout parts */
section:after 
{
  	content: "";
  	display: table;
  	clear: both;
}

/* what footers look like */
footer 
{
  	background-color: rgba(0, 0, 0, 0.92);
  	padding: 10px;
  	text-align: center;
  	color: white;
}

/* what tables look like, how they behave, and their size*/
table 
{
	width:100%;
	text-align: left;
	
}
/* makes the padding for the cells and font size */
th, td 
{
	padding: 8px;
	font-size: 25px;
}
/* makes the colour of the top cells red */
th
{
	background-color: #aa0000;
	
}
/* makes the colour of the bottom cells black */
td
{
	background-color: #000000;
}
/* makes you know what you're hovering over */
th:hover 
{
	background-color: #f5f5f5;
	color: #000000;
}

/* makes you know what you're hovering over */
td:hover 
{
	background-color: #f5f5f5;
	color: #000000;
}



/* The navigation bar at the top*/
/* makes the list, hides the overflow, and makes the color */
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #222;
}

/* makes the actual text appear and defines its size and where it is and stuff*/
li a {
	font-size: 15pt;
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px;
  	text-decoration: none;
}

/* makes you know what you're hovering over in the nav bar*/
li a:hover {
  	background-color: #111;
}
/* makes you know what page you are currently on*/
.active {
  	background-color: #dd1100;
}







